:root {
  --main-color: rgb(62, 91, 125);
  --main-text-color: rgb(0, 25, 53);
  --main-color-background: rgba(62, 91, 125, 0.15);
  --box-shadow-color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: sans-serif;
}

.intro {
  margin-top: 150px;
}

h2 {
  text-align: center;
  font-size: 40px !important;
  margin: 10px 0px 5px 0px !important;
  color: var(--main-text-color);
}

h1 {
  text-align: center;
  font-size: 80px !important;
  font-weight: 700 !important;
  margin: 10px 0px 5px 0px !important;
  color: var(--main-text-color);
}

h3 {
  text-align: center;
  font-size: 24px !important;
  margin: 10px 0px 5px 0px !important;
  color: var(--main-text-color);
}

.homepage-link {
  display: flex;
  justify-content: center;
  color: var(--main-color);
}

.nav-links {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.contact-link {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 5px 0 var(--box-shadow-color);
  font-size: 15px;
  margin: 10px 10px;
}

.contact-link:hover {
  cursor: pointer;
  color: white;
  }

.about-link {
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  text-decoration: none;
  box-shadow: 0 5px 5px 0 var(--box-shadow-color);
  font-size: 15px;
  margin: 10px 10px;
}

.about-link:hover {
  cursor: pointer;
  color: var(--main-color);
  
}

.about-paragraphs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

p {
  display: block;
  font-size: 15px;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;*/
  color: var(--main-text-color) !important;
  padding: 15px 30px 0px 30px;
  
}

.pBack {
  background-color: var(--main-color-background);
  text-align: center;
  font-size: 18px;
  padding: 25px 25px;
}

.email-link {
  display: block;
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
}

.email-link:hover{
  cursor: pointer;
  color: var(--main-color);
  
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.apps {
  color: var(--main-text-color) !important;
  margin: 40px 30px 30px 30px !important;
}



.img-fluid {
  max-width: 100%;
  height: auto;
  text-align: center;
  /*margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;*/
}


.opac {
  opacity: 70%;
}

.launch {
  background-color: var(--main-color) !important;
  padding: 20px !important;
  border-radius: 10px !important;
  color: white !important;
  text-decoration: none !important;
  box-shadow: 0 5px 5px 0 var(--box-shadow-color) !important;
  font-size: 15px !important;
  margin-top: 10px !important;
}

.col-sm-6 {
  margin-bottom: 30px;
}

.rounded {
    border-radius: 0.25rem!important;
}

.p-2 {
    padding: 0.5rem!important;
}

.shadow {
    box-shadow: 0 4rem 4rem rgba(0,0,0,.15)!important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px !important;
  }
}


@media (max-width: 576px) {
  h2 {
    font-size: 30px !important;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 15px !important;
  }
}


  .border-secondary{
    color: var(--main-text-color) !important;
  }

.social{
  text-align: center;
  font-size: 30px;
  margin: 20px;
  
}

.fab{
color: var(--main-color) !important;
  
}

.aboutPar{
  display: block;
  text-align: center;
  margin: 50px 150px 75px 150px;
  }

  .textLink{
    color: var(--main-text-color);
  }

  .textLink:Hover{
    color: var(--main-text-color);
  }

  .pAbout {
  background-color: var(--main-color-background);
  text-align: justify;
  font-size: 18px;
  padding: 130px 25px 130px 25px;
}

@media (max-width: 820px) {
  .pAbout {
    padding: 10px 10px !important;
    font-size: 15px !important;
}

@media (max-width: 820px) {
  .img-audrey {
    padding: 0px !important;
}

